{{#if isLoggedIn }}
  {{> privateNavbar }}
{{else}}
  {{> publicNavbar }}
{{/if}}

<main style="
        background-image: url('https://static.storyweaver.org.in/illustrations/58816/large/3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      " > 
       <section class="tech-banner mb-5">
      <div
        class="p-5 text-center bg-image m"
        style="
          background-image: url('https://wallpaperaccess.com/full/148602.jpg');
          height: 400px;

          width: 100vw;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        "
      ></div>
    </section>
   
    <!-- main section -->

   
      <div class="container">
        <!-- introduction section -->
        <section class="border-bottom">
          <div class="row">
            <div class="col-md-6 gx-5 mb-5">
              <div
                class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
                data-mdb-ripple-color="light"
              >
                <img
                  src="https://cdn.pixabay.com/photo/2021/10/11/17/36/technology-6701406_640.jpg"
                  class="img-fluid"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(115, 189, 214, 0.671)"
                  ></div>
                </a>
              </div>
            </div>

            <div
              class="col-md-6 gx-5 mb-4 rounded-3"
              style="background-color: rgba(115, 189, 214, 0.671)"
            >
              <h4><strong>What is tech blog all about?</strong></h4>
              <p class="text-muted">
                tech blog creates this blog to share stories and highlight
                events, activities and notable achievements. Things discussed
                will be methodology, designs, technology and other elements that
                relate to the technical components of peoples work. We hope this
                can be of assistance to makers, engineers and others with
                similar expertise or interest.
              </p>
              <p><strong>Share post and innovate</strong></p>
              <p class="text-muted">
                We highly encourage any experts, innovators, designers and
                engineers to use this blog to inspire and share information.
                Theres a lot that happens behind the scenes and this space would
                share the insights for people started out in these fields as
                well as provide feedback and advice.
              </p>
            </div>
          </div>
        </section>

        <hr class="my-5" />

        <!-- all blogs section -->

        <section class="text-center border-bottom" >
          <h4 class="mb-5"><strong>Latest Posts</strong></h4>
          <div class="row justify-content-center mb-3" >
            {{#each blog}}
            <div
              class="card mb-3"
              style="
                width: 900px;
                height: 233px;
               background-color: rgba(115, 189, 214, 0.126);
              "
              id="{{id}}"
            >
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="{{cover_image_url}}"
                    class="img-fluid rounded-start mt-3 background-img"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">{{blog_title}}</h4>
                    <p class="card-text">
                     {{blog_description}}
                    </p>

                    <h5 class="mt-5">posted by: h</h5>
                    <p class="card-text">
                      <small class="text-muted">Published: {{formatDate createdAt}}</small>
                    </p>
                  </div>
                </div>
              </div>
                    
            </div>
                  <div class="d-grid gap-2 col-6 mx-auto mb-4">
        <a
          href="/blog/{{id}}"
          class="btn btn-info btn-lg"
          role="button"
          aria-disabled="true"
        >Read</a>
        <div id="error-text"></div>
      </div>
     
            {{/each}}
            {{!-- <div
              class="card m-3"
              style="
                width: 900px;
                height: 233px;
                  background-color: rgba(115, 189, 214, 0.126);
              "
            >
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuwrzTBdC6GwPIUlzeXhmNJulWlrbEODXyC2nRL4Zg8LwKuo3AbOGpjXDP2w0CNBP7kEw&usqp=CAU"
                    class="img-fluid rounded-start mt-3 background-img"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">BLOG NAME</h4>
                    <p class="card-text">
                      There are many variations of passages of Lorem Ipsum
                      available, but the majority have suffered alteration in
                      some form, by injected humour, or randomised words which
                      don't look even slightly believable.
                    </p>

                    <h5 class="mt-5">posted by: abdinasir warsame</h5>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card m-3"
              style="
                width: 900px;
                height: 233px;
                 background-color: rgba(115, 189, 214, 0.126);
              "
            >
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-5P9uVEphqGrPnwB8taDkOyAipOOt6hDdkmIBAIKAzVibsmnelHRLy6jLtihhZYeXiA&usqp=CAU"
                    class="img-fluid rounded-start mt-3 background-img"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">BLOG NAME</h4>
                    <p class="card-text">
                      There are many variations of passages of Lorem Ipsum
                      available, but the majority have suffered alteration in
                      some form, by injected humour, or randomised words which
                      don't look even slightly believable.
                    </p>

                    <h5 class="mt-5">posted by: abdinasir warsame</h5>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div> --}}
          </div>
        </section>

        <hr class="my-5" />

        <!-- registration form section -->
        <section class="mb-5">
          <h4 class="mb-5 text-center">
            <strong> Create an account</strong>
          </h4>

          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <form id="signup-form">
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="firstName"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example1cg"
                    >First Name</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="lastName"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example1cg"
                    >Last Name</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example3cg"
                    >Your Email</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example4cg"
                    >Password</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="confirmPassword"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example4cdg"
                    >Repeat your password</label
                  >
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-info btn-block btn-lg gradient-custom-4 text-body"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a href="./login.html" class="fw-bold text-body"
                    ><u>Login here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </section>
        <!--Section: Content-->
      </div>
    </main>
    <!--Main layout-->